body {
    font: 12px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

.code {
    background: #f0f0f0;
    padding: 20px;
    overflow: auto;
}

.result {
    overflow: auto;
}

.content {}

@media (min-width: 750px) {
    .content {
        margin: 0 auto;
        width: 600px;
    }
}
